<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>


<h2>Hero Name: <%= @sh1.name %></h2>
<p>Hero Power: <%= @sh1.power %></p>
<p>Hero Biography: <%= @sh1.biography %></p>

<h2>Hero Name: <%= @sh2.name %></h2>
<p>Hero Power: <%= @sh2.power %></p>
<p>Hero Biography: <%= @sh2.biography %></p>

<h2>Hero Name: <%= @sh3.name %></h2>
<p>Hero Power: <%= @sh3.power %></p>
<p>Hero Biography: <%= @sh3.biography %></p>
